.containerOuter {
  position: absolute;
  // top: 30px;
  // bottom: 100%;

  // padding: 0.5em;
  background-color: $white;
  -webkit-box-shadow: 0 6px 19px -4px #00000042;
  border-radius: 3px;
  // box-shadow: 0 4px 25px -6px #00000066;
  z-index: 100;

  height: fit-content;
  max-height: 42vh;
  display: -moz-box;
  display: flex;
  align-items: flex-start;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;

  flex-wrap: nowrap;
  white-space: nowrap;

  overflow: auto;

  color: $text;

  opacity: 0;
  transform: translateY(0);
  transition: all 0.1s;

  & :first-child {
    border-radius: 3px 3px 0 0;
  }
  & :last-child {
    border-radius: 0 0 3px 3px;
  }
}
