.upDownWrapper {
  color: $gray;
  svg {
    width: 16px;
    height: 16px;
    fill: $gray;
  }
}
.arrowUpIcon {
  // width: 16px;
  // height: 16px;
}
.arrowDownIcon {
  svg {
    transform: rotate(180deg);
  }
}
.liked {
  color: $secondary;
  svg {
    fill: $secondary;
  }
}
.button {
  svg {
    fill: $gray-text;
  }
}
.clicked {
  svg {
    fill: $black;
  }
}
.HashtagGroupChildren {
  &:before {
    content: '';
    // background-color: $gray-text;
    height: 100%;
    // width: 1px;
    margin: 0 12px;
    padding: 2px 0;
    border-left: 1px solid $gray-light;
  }
}
button:global(.inline) .HashtagGroupChildren {
  &:before {
    // content: '';
    // background-color: $gray-text;
    // height: 100%;
    // width: 1px;
    margin: 0 10px;
    padding: 0;
    // border-left: 1px solid $gray-text;
  }
}
