.upDownWrapper {
  color: $gray;
  svg {
    width: 16px;
    height: 16px;
    fill: $gray;
  }
}
.arrowUpIcon {
  // width: 16px;
  // height: 16px;
}
.arrowDownIcon {
  svg {
    transform: rotate(180deg);
  }
}
.liked {
  color: $secondary;
  svg {
    fill: $secondary;
  }
}
.button {
  svg {
    fill: $gray-text;
  }
}
.clicked {
  svg {
    fill: $black;
  }
}
