.DS_Store
.vscode
.github
.devcontainer
node_modules
dist
build
.next
.cache
.docker-sync
.git
__deprecated__
__generated__
k8s/
skaffold.yaml
README.md

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# secrets
*.key.json
*-key.json