// @import '../style/global.module.scss';
// .formContainer {
//     display: flex;
//     .textAreaContainer {
//         flex-grow: 9;
//     }
//     .buttonContainer {
//         flex-grow: 1;
//     }
// }

.text {
  margin: 0;
  display: inline;
  color: #4f565f;
  font-weight: normal;
  // cursor: pointer;
  // position: relative;
  white-space: break-spaces;
  // font-size: 14px;
  // line-height: 1;

  &:focus {
    outline: none;
  }
}
.inlineBlack {
  margin: 0;
  display: inline-block;
  color: #2c4460;
  font-weight: normal;
  position: relative;
  /* border-left: 1px solid; */
  overflow: hidden;
  /* padding-top: 10px; */
  padding: 5px 0 17px;
}
.inlineValue {
  flex: auto;
  display: flex;
  font-weight: normal;
  position: relative;
  // margin-left: 18px;
  padding: 3px 0;
  align-items: center;
  font-size: 14px;
  // line-height: 24px;

  .panel {
    display: inline-flex;
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 0px;
    span,
    a :not(:last-child) {
      margin-right: 3px;
    }
  }
  &:hover {
    // background-color: $natualHover;
    // &:hover {
    .panel {
      visibility: visible;
    }
  }
  &:focus {
    outline: none;
  }
  // &:before {
  //   content: '•';
  //   align-self: flex-start;
  //   font-size: 17px;
  //   position: relative;
  //   left: -8px;
  //   top: -4px;
  //   color: #606365;
  //   height: 13px;
  // }
}
.inlineValueComment {
  background-color: $black;
}
.tickerHl {
  position: relative;
  display: inline-block;
  margin: 3px 0 0;
  padding: 1px 6px;
  border-radius: 5px;
  background-color: $primary;
  font-weight: bold;
  font-size: 14px;
  color: white;
  //  梯形tab
  // &:before {
  //     content: "";
  //     width: 100%;
  //     height: 100%;
  //     background: white;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     transform: perspective(0.5em) rotatex(5deg) scale(1.5);
  //     z-index: -1;
  //     border-radius: 5px 5px 0 0;
  //     transform-origin: left bottom;
  // }
}

.marker {
  color: #353535;
  font-weight: 700;
  font-size: 18px;
  margin-top: 2em;
  /* margin-left: 10px; */
  /* font-family: 'Noto Sans'; */
  /* border-bottom: 1px solid; */
  /* display: inline-block; */
  /* width: fit-content; */
  display: block;
  margin-bottom: 4px;

  .markerSyntax {
    font-weight: 400;
    color: #7e9be27a;
    padding-left: 5px;
  }
}
.inlineMarker {
  display: flex;
  width: 100%;
  // margin: 10px 0 0;
  padding: 0px 0px 24px;
  // border-radius: 5px;
  // background-color: $light-blue;
  color: $black;
  font-weight: 700;
  font-size: 16px;
}
.preMarker {
  // display: inline-block;
  // margin: 10px 0 0;
  // padding: 0px 0px 36px;
  // border-radius: 5px;
  // background-color: $light-blue;
  color: $black;
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  & ~ .black {
    cursor: auto;
    &:hover {
      background: none;
    }
  }
}
.section {
  // display: block;
  // box-shadow: 0 0 10px #ddd;
  // margin: 30px 0 20px;
  padding: 10px 0 0;
  // border-top: 1px solid $natual;
  background: white;
  font-weight: bold;
  // border-radius: 20px;
  // box-shadow: 0 0 22px #8e8e8e61;

  ul {
    margin-bottom: 0;
    // padding-left: 10px;
    // list-style-type: disc;
  }
}
.preSection {
  // margin-left: -10dspx;
  li {
    // margin-bottom: 3px;
  }
}
.tickerTitle {
  scroll-margin: 20px;
  position: relative;
  display: block;
  // margin-top: 1em;
  font-weight: 700;
  font-size: 24px;
  a {
    display: block;
    color: $black;
  }
}
h1.tickerTitle {
  padding: 0 0 3px;
}
// @import "../../style/global.module.scss";

.comment {
  display: inline-block;
  margin-left: 36px;
  :global(.ant-comment-inner) {
    margin: 0;
    padding: 0;
    ul {
      flex-direction: row;
      margin: 0;
    }
    li {
      margin-bottom: 0;
    }
  }
}
.commentIcon {
  position: relative;
  height: 1.2em;
  top: 3px;
  fill: $gray-natual;
  &:hover {
    fill: $gray-hover;
  }
}

.tooltip {
  background-color: $primary;
}

.array {
  display: inline-block;
  margin-right: 100px;
  .panel {
    display: inline-flex;
    position: absolute;
    visibility: hidden;
    right: 0;
    top: 0px;
    span,
    a:not(:last-child) {
      margin-right: 3px;
    }
  }
  &:focus {
    outline: none;
  }
  &:hover {
    .panel {
      visibility: visible;
    }
  }
  // &:before {
  //   content: '\2202';
  // }
  // a {
  //   color: black;
  // }
  &:global(.highLight) {
    .text,
    .keyword {
      background-color: #ffd0367d;
    }

    scroll-margin: 150px;
  }
}
.lineValue {
  position: relative;
  // &:hover {
  //   background-color: $natualHover;
  // }
}
.header {
  padding-bottom: 10px;
  overflow-wrap: break-word;
  .title {
    margin: 5px 0 5px;
    line-height: 1.5;
    /* white-space: nowrap; */
    font-weight: 500;
    font-size: 16px;
    color: #1d2c3e;
    /* word-break: normal; */
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    /* width: 300px; */
    overflow: hidden;
    /* visibility: visible; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    cursor: pointer;
    letter-spacing: 0;
  }
  .titleExpand {
    display: inline-block;
  }

  .date {
    @extend %Round_sm_gray_en;
    display: inline-block;
    margin-right: 16px;
  }
  .webName {
    @extend %Round_sm_gray_en;
  }
  .link {
    @extend %Round_sm_ch;
  }
  .author {
    @extend %Round_sm_gray_en;
    @extend %Round_sm_ch;
    color: $primary;
  }
}
.flexContainer {
  display: flex;
  align-items: center;
}
.textArea {
  &:global(.ant-input) {
    border: none;
  }
}
.clockIcon {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  fill: $gray;
}
a {
  .linkIcon {
    width: 16px;
    height: 16px;
    position: relative;
    top: 3px;
    margin-right: 3px;
    fill: $primary;
  }
  &:hover {
    .linkIcon {
      fill: $primaryHover;
    }
  }
}
.keyword {
  // margin-top: 6px;
  // margin-left: 10px;
  // padding: 0 5px;
  // border-radius: 10px;
  // font-size: 13px;
  // background-color: $natual;
  a {
    color: $primary;
    &:hover {
      color: $primaryHover;
      text-decoration: underline;
    }
  }
}

.bullet {
  // width: 16px;
  // height: 16px;
  // align-self: flex-start;
  // position: absolute;
  // top: 8px;
  // left: -20px;
  // fill: #464646;
  width: 24px;
  height: 19px;
  align-self: flex-start;
  /* position: absolute; */
  /* top: 8px; */
  /* left: -20px; */
  fill: #464646;
  /* display: flex; */
  /* align-items: stretch; */
  display: flex;
  flex-shrink: 0;
  font-size: 1.5em;
  align-items: center;
  justify-content: center;
  margin-right: 4px;
}
.cardSection {
  background: #fff;
  border-bottom: 1px solid #c2c2da;
  border-radius: 8px;
  padding: 19px 30px;
  /* height: min-content; */
  margin: 30px 0 0;
}
