// @import '../../style/global.module.scss';

.comment {
  cursor: pointer;
  &:hover {
    background-color: #f7f8fb;
  }
}
.arrowUpIcon {
  // width: 16px;
  // height: 16px;
  svg {
    width: 16px;
    height: 16px;
  }
}
.arrowDownIcon {
  svg {
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
  }
}
