.sideList {
  margin: 0 0 20px;
  list-style: none;
  padding-inline-start: 0;
  line-height: 1.5;

  // li {
  //   padding: 3px 0 0;
  //   color: $text;
  //   font-size: 14px;
  //   // margin: 4px 0;
  //   // padding: 8px 0;
  //   overflow: hidden;
  //   // word-break: keep-all;
  // }
  svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    // fill: #ecedf2;
    // margin-right: 10px;
  }
}
// a {
//   border: none;
// }

.divider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
  font-size: 14px;
  color: $black;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
