.toggle {
  display: flex;
  align-items: center;
  background-image: url('../assets/png/toggle/toggle-bar.png');
  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-size: cover;

  &:after {
    content: '';
    background-image: url('../assets/png/toggle/toggle-circle.png');
    background-size: cover;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px #00000040;
  }
}
