// $primary: #313d92;
$primary: #464648;
$secondary: #5c6cda;
$primaryHover: rgba(70, 70, 72, 0.9);
$secondaryHover: #5c6ddab6;
$gray: #aeb1bf;
$light-gray: #e3e6e7;
$text: #5a5c6d;
$natual: #f7f7f7;
$link: #494b5a;
$black: #373a46;
$green: #018478;
$blue: #344aa4;
$border: #dedfe2;
$bullet: #555863;
// $natualHover: #f7f7fb;
// $light-blue: #e0f2ff;
$gray-natual: #8c8c8c;
$gray-hover: #595959;
$bg: #f1f2f4;
$icon: #494d50;

$white: #ffffff;
// $black: #393939;

/* Fonts */
$serif: 'Noto Serif TC', 'Noto Serif SC', serif;

%Round_sm_ch {
  // font-family: 'cwTeXYen';
  font-size: 15px;
  color: $primary;
}
%Round_sm_gray_en {
  font-size: 0.9em;
  font-weight: 500;
  // font-family: 'Varela Round';
  color: $text;
  text-transform: capitalize;
}
