.upDownWrapper {
  color: $gray;
  svg {
    width: 16px;
    height: 16px;
    fill: $gray;
  }
}
.arrowUpIcon {
  // width: 16px;
  // height: 16px;
}
.arrowDownIcon {
  svg {
    transform: rotate(180deg);
  }
}
.liked {
  color: $primary;
  svg {
    fill: $primary;
  }
}
.button {
  svg {
    fill: $gray-text;
  }
}
.default {
  svg {
    fill: $gray-text;
  }
  color: $text;
}
.clicked {
  svg {
    fill: $primary;
  }
  // color: $primary;
}
.divider {
  display: inline-block;
  // height: 100%;
  width: 0;
  border-right: 1px solid $gray-text;
  margin: 3px 0;
}
.groupContainer {
  display: inline-flex;
  background: $gray;
  border-radius: 3px;
  & :first-child {
    span {
      border-radius: 3px 0 0 3px;
    }
  }
  & :last-child {
    span {
      border-radius: 0 3px 3px 0;
    }
  }
}
.hasDividerDiv {
  display: flex;
}
button.hashtag {
  background: none;
  padding: 0;
  margin: 0;
  &:not(:first-child) {
    margin-left: 10px;
  }
  svg {
    fill: $gray-text;
  }
  color: $gray-text;
}

.clicked {
  svg {
    fill: $text;
  }
  color: $text;
}
