.bulletUl {
  ul {
    // padding-left: 1.5em;
  }
}

.bulletLi {
  position: relative;
  display: flex;
  list-style: none;
  align-items: flex-start;
  margin-left: -3em;
  word-break: break-all;
  @media screen and(max-width:500px) {
    margin-left: 0;
  }
}
.bulletWrapper {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  width: 24px;
  margin-right: 4px;
  min-height: 2em;
  align-items: center;
  justify-content: center;
  .bulletTooltip {
    width: fit-content;

    top: 28px;
    bottom: 28px;
    // display: none;
    visibility: hidden;
  }
  &:hover {
    .bulletTooltip {
      // display: flex;
      visibility: visible;
    }
    & ~ .bulletPanel {
      visibility: visible;
    }
  }
}
.arrowWrapper {
  // position: absolute;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  padding: 0 6px;
  // width: 8px;
  // left: -1em;
  // margin-right: 4px;
  min-height: 2em;
  align-items: center;
  justify-content: center;

  & > svg {
    // opacity: 0;
    height: 10px;
    width: 8px;
    // transform: rotate(90deg);
  }
}
.arrowBulletWrapper {
  display: flex;
  position: relative;
  & > a {
    border-bottom: 0;
  }
}
.bulletEditorContainer {
  margin-left: -28px;

  color: $text;
  @media screen and (max-width: 500px) {
    padding: 10 3em;
  }
}
.focused {
  box-shadow: 0 0 0 1px $primaryHover;
  background: white;
}

.hashtag {
  svg {
    fill: $gray-text;
  }
  color: $gray-text;
}

.clicked {
  svg {
    fill: $text;
  }
  color: $text;
}
.topicLeaf {
  color: #ff619b;
  // font-weight: bold;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 0 #ff619b;
  }
}
.mirrorLeaf {
  color: $link;
  vertical-align: middle;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 0 #5395f0;
  }
}
.filtertagLeaf {
  color: #6a53fe;
  &:hover {
    cursor: pointer;
    box-shadow: 0 1px 0 #6a53fe;
  }
}
.lcText {
  margin: 0;
}
// .shotBtn {
//   height: fit-content;
//   margin: 0;
//   padding: 0;
//   // border-radius: 3px;
//   // border: 1px solid $gray;
//   background: #ede9e8;
//   color: $text;
//   // text-shadow: 0px 1px #ffffffa1;
//   // border: 1px solid #a2a8c1;
//   // mix-blend-mode: multiply;
//   span {
//     display: flex;
//     align-items: center;
//     height: 100%;
//     padding: 0 6px;
//     &:first-child {
//       border-top-left-radius: 3px;
//       border-bottom-left-radius: 3px;
//       // border-right: 1px solid $gray;
//     }
//     &:last-child {
//       // border-left: 1px solid $gray;
//       border-bottom-right-radius: 3px;
//       border-top-right-radius: 3px;
//     }
//   }
//   .shotAuthor {
//     // color: #4d5c7e;
//     // background-color: white;
//     // color: white;
//   }
//   .shotTarget {
//     // color: white;
//     // background-color: #7a7a7a;
//     // color: $primary;
//     // background-color: #cadbff;
//   }
//   .shotChoice {
//     &[data-choice='#LONG'] {
//       color: #386829;
//       background-color: #c1e3b7;
//     }
//     &[data-choice='#SHORT'] {
//       color: #a71919;
//       background-color: #ffb8b8;
//     }
//     &[data-choice='#WATCH'] {
//       // color: white;
//       background-color: #ffe7ba;
//     }
//   }
// }

//new
.shotBtn {
  height: fit-content;
  margin: 0;
  padding: 1px 6px;
  border-radius: 6px;
  // border: 1px solid $gray;
  background: $white;
  color: #706b6b;
  // text-shadow: 0px 1px #ffffffa1;
  border: 1px solid #dfdddd;
  font-size: 14px;
  &:hover {
    background-color: #e9e8e8;
  }
  // mix-blend-mode: multiply;
  span {
    display: flex;
    align-items: center;
    height: 100%;
    // padding: 0 6px;
    &:first-child {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      // border-right: 1px solid $gray;
    }
    &:last-child {
      // border-left: 1px solid $gray;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  .shotTarget {
    font-weight: bold;
    color: $link;
  }
  .shotChoice {
    &[data-choice='#LONG'] {
      color: #1e811e;
      // background-color: #c1e3b7;
    }
    &[data-choice='#SHORT'] {
      color: #d62b2b;
      // background-color: #ffb8b8;
    }
    &[data-choice='#WATCH'] {
      color: #f39012;
      // background-color: #ffe7ba;
    }
  }
}
//new

.mirrorContainer a {
  color: $link !important;
  &:hover {
    cursor: pointer;
    color: $link !important;
    box-shadow: 0 1px 0 $link !important;
  }
}
.symbolContainer {
  color: $link;
  &:hover {
    cursor: pointer;
    color: $link;
    box-shadow: 0 1px 0 $link;
  }
}
.filterMirrorContainer {
  background: $natual;
  border-radius: 6px;
}
