// @import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap");
@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* Color */
$primary: #006ef5;
$primary50: rgba(0, 110, 245, 0.5);
$primaryHover: #459fff;
$gray: #4f5678;
$black: #1d2c3e;
$natual: #ecedf3;
$natualHover: #f7f7fb;
$light-blue: #e0f2ff;
$gray-natual: #8c8c8c;
$gray-hover: #595959;
$bg: #eff1f9;
$icon: #494d50;

$white: #ffffff;
// $black: #393939;
$black_2: #515253;
$disable: #a7a7a7;
$natual-hover: rgba(240, 242, 245, 0.7);
$light-primary: rgba(28, 191, 185, 0.17);
$light-primary-hover: rgba(28, 191, 186, 0.13);
$error: #f94d6a;
$natual2: rgb(209, 209, 209);

/* Fonts */
$letter-sp: 0.0875rem;

$font-xs: 12px;
$font-sm: 14px;
$font-lg: 16px;

$font-rg: 400;
$font-md: 500;
$font-bd: 700;

/* mixin */

/* extend */
%Round_sm_ch {
  font-family: 'cwTeXYen';
  font-size: 15px;
}
%Round_sm_gray_en {
  font-size: 0.8em;
  font-family: 'Varela Round';
  color: $gray;
  text-transform: capitalize;
}

/* col */
.col3 {
  width: 100% / 4;
}
.col6 {
  width: 100% / 2;
}

/* global */
* {
  // line-height: 1;
  font-family: 'Noto Sans TC';
  // font-size: 13px;
}
body {
  overflow: hidden;
}
pre {
  font-family: 'Noto Sans TC';
  overflow: hidden;
}
ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
  font-size: $font-sm;
  margin-bottom: 0;
}
li {
  height: auto;
  // margin-bottom: 10px;
}

span {
  display: inline-block;
}
