.anchor {
  @apply relative
      z-[2]
      flex-shrink-0
      [grid-area:bullet]
      flex place-items-center place-content-center
      h-[2em]
      w-[1em]
      mr-1
      p-0
      border-none
      text-inherit
      cursor-pointer
      appearance-none
      transition-all duration-[0.05s]

      outline-none
      focus:outline-none
      /* focus-within:before:opacity-100 */
      hover:opacity-100
      /* hover:before:opacity-100 */

      /* before:content-['']
      before:absolute
      before:z-[-1]
      before:inset-y-1 before:inset-x-[-0.125rem]
      before:opacity-0
      before:transition-opacity before:duration-100
      before:bg-white
      before:shadow-[0_4px_8px_rgba(0,0,0,0.2)]; */;
}
.anchor svg {
  @apply w-[1em]
      h-[1em]
      text-[#433F38]/25
      pointer-events-none
      scale-[1.0001]
      overflow-visible;
}
.anchor svg * {
  @apply [vector-effect:none-scaling-stroke];
}
.anchor circle {
  @apply fill-current
      transition-[opacity,fill] duration-[.05s];
}
.anchor.closed-with-children circle {
  @apply stroke-[#433F38]
      fill-[#433F38]/25
      stroke-[2px]
      opacity-50;
  r: 5;
}
.anchor:hover svg {
  @apply scale-[1.3];
}
.anchor.dragging {
  @apply z-[1]
      cursor-grabbing
      text-[#433F38];
}
