.formContainer {
  width: 50vw;
  margin: 1em auto;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
  // border-bottom: 1px solid $natual;
}
.form {
  // display: flex;
  flex-direction: column;
  // margin: 1em 0 2em;
  // width: 70%;
  //   font-size: 14px;
  label {
    // display: flex;

    // margin-right: 1em;
    // font-weight: 700;
    h5 {
      margin: 0;
      color: $black;
    }
    & > input {
      display: block;
      width: 100%;
      background: $white;
      line-height: 2;
      margin: 0.5em 0 1em;
      font-size: 14px;
      &[type='text'] {
        border: 0;
        background: $bg;
        padding: 8px;
        border-radius: 6px;
        // box-shadow: 0 1px 0 $gray;
        // border-bottom: 1px solid $primary;
        // display: block;
        // width: 100%;
        color: $text;

        &:hover {
          background: #eef1fd;
        }
        &:focus-visible {
          outline: 0;
          border-bottom-width: 2px;
        }
      }
      &::placeholder {
        color: $gray-text;
      }
    }
  }
  .radioLabel {
    position: relative;
    display: inline-flex;
    font-weight: 400;

    align-items: center;
    margin-right: 20px;
    // border: 1px solid $primary;
    svg {
      width: 1em;
      height: 1em;
      stroke: $primary;
      margin-right: 3px;
    }
    input {
      position: absolute;
      margin: 0;
      opacity: 0;

      //   visibility: hidden;
      &:checked + svg {
        .checkBg {
          fill: $primary;
          stroke: $primary;
        }
        .checkMark {
          stroke: white;
        }
      }
    }
    span {
      color: $text;
      font-weight: 500;
    }
  }
  button {
    margin-right: 0;
    // width: fit-content;
  }
  .submitBtn {
    text-align: center;
  }
}
.radioWrapper {
  display: inline-flex;
}
.section:not(:last-child) {
  margin-bottom: 2em;
}
.choiceWrapper {
  display: flex;
  flex-direction: column;
}
