@import '../style/global.module.scss';

.comment {
  display: inline-block;
  margin-left: 50px;
  // :global(.ant-comment-inner) {
  // margin: 0;
  padding: 0;
  ul {
    flex-direction: row;
    margin: 0;
  }
  li {
    margin-bottom: 0;
  }
}

.commentIcon {
  position: relative;
  height: 1.2em;
  top: 3px;
  fill: $gray-natual;
  &:hover {
    fill: $gray-hover;
  }
}
